* {
  margin:0 ;
  padding: 0;
}

header,footer,article,section,hgroup,nav,figure { display: block; }

body {
  font-size: 0.9em;
  font-family: Helvetica, "Lucida Grande","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ", "ＭＳ Ｐゴシック","Lucida Sans Unicode",Arial,Verdana,sans-serif;
  color: #333;
}

a img { border: none; }

a {color: #0063dc;}
a:visited {color: #0063dc;}
a:hover {
  background-color: #0063dc;
  color: #fff;
  text-decoration: none;
}

h1 {
  color: #0063dc;
  font-size: 3em;
  padding: 0.5em 0 0;
}
h1:first-letter {
  color: #ff0084;
}

h2 {
  color: #ff0084;
  font-size: 2em;
  font-weight: normal;
  border-bottom: 3px solid #a9cde4;
  margin-top: 1em;
}

h3 {
  color: #ff0084;
  margin: 1em 0 0 0;
}

p {
  line-height: 1.5em;
  padding: 1em 0 0 0;
}

table {
  width: 90%;
  text-align: left;
  margin: 0 auto;
  margin-top: 1em;
  border-collapse: collapse;
  border-left: 5px solid #0063dc;
  border-top: 1px dotted #999; 
  border-bottom: 1px dotted #999; 
}

table th {
  width: 20%;
  background-color: #eee;
  border-bottom: 1px dotted #999; 
  padding: 1ex;
}

table td {
  border-bottom: 1px dotted #999; 
  padding: 1ex;
}

ul {
  margin: 0 0 0 1em;
}

article#container{
  width: 70%;
  margin: 0 auto;
}


div#registration{
  background-color: #0063dc;
  border: 1px solid #fff;
  
  padding: 12px 20px 0 30px;
  position: fixed;
  left: -25px;
  top: 200px;
  width: 380px;
  height: 60px;
  z-index: 999;
  -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
  text-align: right;
}

div#registration a {
  font-size: 3em;
  color: #ff0084;
  text-decoration: none;
}

footer {
  margin-top: 1em;
}

footer p {
  width: 100%;
  text-align: center;
  padding: 0;
}

section.photo {
  text-align: center;
}

.photo img {
  padding: 15px;
  border: 1px solid #ccc;
  background-color: #eee;
}

header {
  background:#eee;
  border: 1px solid #ccc;
  margin-bottom:15px;
  height:110px;
}

header h1{
  padding-left: 20px;
}

header nav {
  background-color: #fff;
  padding: 1em;
  position: absolute;
  right: 1em;
  top: 4em;
  -moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

header nav ul li{
  font-size: 1em;
  display: inline; 
  margin-left: 1ex;
}

.map {
  text-align: center;
  padding: 1.5em 0 1.5em 0;
}
